.featured {
    margin-top: -90px;
}

.featured-header {
    color: #151515;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

.featured-box {
    background: #aeaeae;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}

.featured-box-even {
    background: #6e6e6e;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
.icon-class {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-box p {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .featured {
        margin-top: 0px;
    }
}