.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

a{
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

h1 {
  color: white;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.footer {
  background-color: #035db0;
  padding: 40px 0;
  font-family: 'Muli', sans-serif;
}



.glyphicon-style {
  color: #f3f3f3;
  font-size: 20px;
}

.phone {
}

.phone-style {
  color: #f3f3f3;
  font-size: 20px;
  padding-left: 12px;
}

.marker-style {
  position: relative;
}

.address-block {
  display: inline-block;
}

.address-block p{
  margin: 0;
}

.address-style {
  color: #f3f3f3;
  font-size: 20px;
  padding-left: 12px;
}

.social-media-icon {
  height: 30px;
}

nav {
  background-color: #f3f3f3;
  height: 50px;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 4px -2px rgba(0,0,0,0.4);
  z-index: 2;
}

.top-scroll {
  /* background-color: transparent;
  box-shadow: none;
  color: #f3f3f3; */
}

.logo {
  display: inline-block;
  height: 40px;
  float: left;
  top: 50%;
  transform: translateY(12.5%);
}

.menu-bar {
  font-size: 32px;
  text-align: right;
  z-index: 100;
}

.menu-bar:hover {
  cursor: pointer;
}

.nav-wide {
  display: none;
}

.wideDiv {
  height: 50px;
  text-align: right;
}

.nav-narrow {
  height: 50px;
  text-align: right;
  background-color: #f3f3f3;
  z-index: 100;
}

.narrowLinks {
  padding-top: 16px;
  background-color: #f3f3f3;
  text-align: center;
  top: -145px;
  position: relative;
  transition: .8s;
  z-index: -1;
  margin: 0 -15px;
}

.clicked {
  top: 0px;
  transition: .8s;
  z-index: -1;
}

.link-container {
  float: right;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  color: #035db0;
  padding: 10px 30px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #035db0 50%);
  transition: background-position .75s, color .75s;
  line-height: 2;
  height: 50px;
  font-size: 15px;
}

.droplink {
  display: block;
  padding-bottom: 12px;
  color: #035db0;
  font-size: 20px;
}

.link:hover {
  background-position: 0 100%;
  color: #f3f3f3;
}

.dropdown-style {
  line-height: 2;
}

.image {
  width: 100%;
}

.home {
  height: 750px;
  width: 100%;
  /*background: linear-gradient(rgba(156, 219, 255, 0.4), rgba(156, 219, 255, 0.4)), url(./data/images/sandiego.jpg);*/
  background-size: cover;
  background: #035db0 no-repeat fixed center;
}

.home-row {
  height: 750px;
}

.home-column {
  height: 750px;
  background: rgba(119,136,153,0.5);
}

.greeting {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  text-align: left;
  padding: 15px 15px;
  /*background: rgba(119,136,153,0.3);*/
  color: #eeeeee;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 26px;
  /*text-transform: uppercase;*/
}

.team {
  font-family: 'Karla', sans-serif;
  background-color: #f3f3f3;
}

.team p {
  font-size: 18px;
  line-height: 2.0;
  margin: 40px 0 40px 0;
  text-align: left;
  color: #3e3c3d;
  letter-spacing: 0.025px;
}

.doctor-img {
  height: 700px;
}

h2 {
  font-size: 40px;
  margin: 80px 0 0 0;
  text-align: left;
  letter-spacing: 2.4px;
  color: #3e3c3d;
}

.office {
  background-color: #f3f3f3;
  padding-top: 40px;
}

.office-hours {
  background: linear-gradient(rgba(156, 219, 255, 0.65), rgba(156, 219, 255, 0.65));
  /*background: linear-gradient(rgba(156, 219, 255, 0.65), rgba(156, 219, 255, 0.65)), url(./data/images/beach.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0 40px 0;
}

.office h1 {
  color: #3e3c3d;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.office h2 {
  color: #3e3e3e;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 10px 0;
  letter-spacing: 2.0px;
}

.office h3 {
  color: #3e3e3e;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: right;
  margin: 0 8px 10px 0;
  letter-spacing: 2.0px;
}

.office h4 {
  color: #3e3e3e;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 40px;
}

.office h5 {
  color: #3e3e3e;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin: 40px 0 40px 0;
  font-size: 34px;
}

.office p {
  color: #3e3e3e;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 1.7em;
}

.slideshow {
  padding-top: 40px;
}

.slider {
  position: relative;
}

.slide-one {
  /*background-image: url(data/images/office1.jpg);*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.slide-two {
  /*background-image: url(data/images/office2.jpg);*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.slide-three {
  /*background-image: url(data/images/office3.jpg);*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 40px 0;
}

.slide-container {
  width: 70%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 75vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.office-image {
  width: 100%;
  height: auto;
}

.previous-arrow {
  position: absolute;
  top: 50%;
  left: 17px;
  padding: 5px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #f3f3f3;
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 17px;
  padding: 5px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #f3f3f3;
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
}

.previous-arrow img {
  transform: translate(-2px);
}

.next-arrow img {
  transform: translate(2px);
}

.control-dots {
  padding: 0;
}

.services {
  background-color: #f3f3f3;
  padding: 20px 0;
}

.service-box {
  margin: 10px 0;
  padding: 10px 0;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #3b3b3b 50%, #9cdbff 50%);
  transition: background-position .75s, color .75s;
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 90%;
  transform: translateX(5%);
  text-transform: uppercase;
  text-align: center;
}

.service-box:hover {
  background-position: 0% 100%;
  color: #3b3b3b;
  cursor: pointer;
}

.services h1 {
  color: #3e3c3d;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.full-service h1 {
  color: #3e3c3d;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 26px;
}

.full-service p {
  font-size: 15px;
}

.full-service {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.back-button {
  font-family: "Lato", sans-serif;
  width: 25%;
  transform: translateX(150%);
  padding: 8px 0;
  margin-top: 15px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #3b3b3b 50%);
  transition: background-position .75s, color .75s;
}

.back-button:hover {
  cursor: pointer;
  color: #f3f3f3;
  background-position: 0% 100%;
}

.about {
  padding: 40px 0 0 0;
  /*background: linear-gradient(rgba(77, 226, 255, 0.7), rgba(156, 219, 255, 0.7)), url(./data/images/coronado.jpg);*/
  background-size: cover;
  background: #e6e6e6 no-repeat fixed center;
  height: 900px;
}

.about h1 {
  color: #3e3c3d;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 26px;
}

.about h2 {
  color: #3e3e3e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 10px 0;
  letter-spacing: 2.0px;
}

.about h3 {
  color: #3e3e3e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: right;
  margin: 0 8px 10px 0;
  letter-spacing: 2.0px;
}

.map-container {
  padding-left: 3vw;
  padding-right: 3vw;
}

.google-map {
  height: 700px;
  width: 100%;
}

.hours {
  margin-bottom: 15px;
}

.front-office {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

ul {
  padding-left: 0px;
}

.click-through {
  pointer-events: none;
}

@media (min-width: 1200px) {

  nav {
    position: fixed;
  }

  .nav-wide {
    display: block;
    height: 50px;
  }

  .nav-narrow {
    display: none;
  }

  .about {
    background-position: bottom;
  }

  .social-media-icon {
    height: 30px;
    float: right;
  }

  /*.home {*/
    /*transform: translateY(50px);*/
  /*}*/
}

@media (min-width: 1000px) and (max-width: 1199px) {

  nav {
    position: fixed;
  }

  .nav-wide {
    display: block;
    height: 50px;
    font-size: 12px;
  }

  .link {
    padding: 10px 15px;
  }

  .nav-narrow {
    display: none;
  }

  .address-style {
    font-size: 20px;
  }

  /*.home {*/
    /*transform: translateY(50px);*/
  /*}*/
}

@media (min-width: 840px) and (max-width: 999px) {

  nav {
    position: fixed;
  }

  .nav-wide {
    display: block;
    height: 50px;
    font-size: 12px;
  }

  .link {
    padding: 10px 8px;
  }

  .link-container {
    width: 80%;
  }

  .nav-narrow {
    display: none;
  }

  .address-style {
    font-size: 20px;
  }

  /*.home {*/
    /*transform: translateY(50px);*/
  /*}*/
}

@media (max-width: 767px) {

  .text-center {
    margin-top: 40px;
  }

  .btn-contact {
    width: 80%;
  }

  .greeting {
    font-size: 20px;
  }

  .about {
    height: 560px;
  }

  .google-map {
    height: 420px;
    width: 100%;
  }

  .map-container {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .social-media {
    width: 50%;
  }

  .social-media-icon{
    margin-top: 20px;
  }

}

@media (max-width: 1200px) {
  .phone-style {
    font-size: 14px;
  }

  .address-style {
    font-size: 14px;
  }

  .glyphicon-style {
    font-size: 15px;
  }

  .social-media-icon {
    height: 30px;
  }
}